flows/Spot_Data_Invoice_Updates.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_New_Collection</name>
        <label>Add to New Collection</label>
        <locationX>722</locationX>
        <locationY>213</locationY>
        <assignmentItems>
            <assignToReference>SOCupdatedSpotRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SOspotToUpdate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Spots</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Invoice</name>
        <label>Invoice</label>
        <locationX>859</locationX>
        <locationY>139</locationY>
        <assignmentItems>
            <assignToReference>SOspotToUpdate.Raycom_Invoice_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varInvoice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_New_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_the_Counter</name>
        <label>Reset the Counter</label>
        <locationX>400</locationX>
        <locationY>34</locationY>
        <assignmentItems>
            <assignToReference>varCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Waitaminute</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Count_the_beans</name>
        <label>Count the beans</label>
        <locationX>717</locationX>
        <locationY>36</locationY>
        <defaultConnector>
            <targetReference>Invoice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>X50</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_batch</targetReference>
            </connector>
            <label>=50</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_them</name>
        <label>Found them?</label>
        <locationX>397</locationX>
        <locationY>139</locationY>
        <defaultConnector>
            <targetReference>Delete_Raycom_Line_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No :(</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SOCspotDataToUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Spots</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>2 minute Wait</description>
    <formulas>
        <name>TodayMinus365</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}-365</expression>
    </formulas>
    <interviewLabel>Spot Data Invoice Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Spot Data Invoice Updates</label>
    <loops>
        <name>Spots</name>
        <label>Spots</label>
        <locationX>560</locationX>
        <locationY>139</locationY>
        <assignNextValueToReference>SOspotToUpdate</assignNextValueToReference>
        <collectionReference>SOCspotDataToUpdate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count_the_beans</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Updated_Spot_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Raycom_Line_Item</name>
        <label>Delete Raycom Line Item</label>
        <locationX>564</locationX>
        <locationY>338</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRaycomLineId</elementReference>
            </value>
        </filters>
        <object>RaycomMonthlyLineItem__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Raycom_Line_Item</name>
        <label>Raycom Line Item</label>
        <locationX>115</locationX>
        <locationY>138</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Spot_Data</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRaycomLineId</elementReference>
            </value>
        </filters>
        <object>RaycomMonthlyLineItem__c</object>
        <outputAssignments>
            <assignToReference>varInvoice</assignToReference>
            <field>Invoice__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varKey</assignToReference>
            <field>Key__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOrderNumber</assignToReference>
            <field>OrderNumber__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCallLetters</assignToReference>
            <field>Station__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Spot_Data</name>
        <label>Spot Data</label>
        <locationX>255</locationX>
        <locationY>136</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_them</targetReference>
        </connector>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>TodayMinus365</elementReference>
            </value>
        </filters>
        <filters>
            <field>RaycomKeyIndexed__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varKey</elementReference>
            </value>
        </filters>
        <filters>
            <field>Raycom_Invoice_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Spot_Data__c</object>
        <outputReference>SOCspotDataToUpdate</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_batch</name>
        <label>Update the batch</label>
        <locationX>551</locationX>
        <locationY>34</locationY>
        <connector>
            <targetReference>Reset_the_Counter</targetReference>
        </connector>
        <inputReference>SOCupdatedSpotRecords</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Updated_Spot_Records</name>
        <label>Updated Spot Records</label>
        <locationX>566</locationX>
        <locationY>239</locationY>
        <connector>
            <targetReference>Delete_Raycom_Line_Item</targetReference>
        </connector>
        <inputReference>SOCupdatedSpotRecords</inputReference>
    </recordUpdates>
    <startElementReference>Raycom_Line_Item</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>SOCspotDataToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Spot_Data__c</objectType>
    </variables>
    <variables>
        <name>SOCupdatedSpotRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Spot_Data__c</objectType>
    </variables>
    <variables>
        <name>SOspotToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Spot_Data__c</objectType>
    </variables>
    <variables>
        <name>varBillingMonth</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCallLetters</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varInvoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOrderNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRaycomLineId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Waitaminute</name>
        <label>Waitaminute!</label>
        <locationX>256</locationX>
        <locationY>35</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>Literally_just_a_minute</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Spot_Data</targetReference>
            </connector>
            <eventType>DateRefAlarmEvent</eventType>
            <inputParameters>
                <name>EntityObjectId</name>
                <value>
                    <elementReference>varRaycomLineId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeFieldColumnEnumOrId</name>
                <value>
                    <stringValue>X58MinutesAgo__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeTableColumnEnumOrId</name>
                <value>
                    <stringValue>RaycomMonthlyLineItem__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Literally just a minute</label>
        </waitEvents>
    </waits>
</Flow>
